/*[class^="container"], [class^="col"]{
  background-color: rgba(127, 255, 212, 0.553);
  border: 1px solid black;
  min-height: 50px;
}*/

.sc-container{
  width: 60%;
  margin: 0 auto;
}

body{
  color: white;
}
/*header*/
header{
  background-color: #2C3E50;
  height: 90px;
}

.navbar-toggler.sc-hamburger{
  border: none;
}

.navbar-brand {
  color: white;
}
.navbar{
  --bs-navbar-color:white;
}
/*jumbotron*/
.jumbotron{
  height:520px;
  background-color: #31bc9c;
}

.jumbotron img, svg {
  vertical-align: middle;
  width: 230px;
  height: 250px;
}

.jumbotron h2 {
  font-size: 4rem;
}

.linea:before{
  content: "";
  width: 130px;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
  background-color: white;
  margin-bottom: 4px;
}

.linea:after{
  content: "";
  width: 130px;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
  background-color: white;
  margin-bottom: 4px;
}


/*main*/
.h2-grande{
  font-size: 3rem;
}

.linea-2:before{
  content: "";
  width: 130px;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
  background-color: #333333;
  margin-bottom: 4px;
}

.linea-2:after{
  content: "";
  width: 130px;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
  background-color: #333333;
  margin-bottom: 4px;
}

.main-top{
  color: #333333;
}
.cards .col{
  margin: 0 auto;
  height: 300px;
  width: 420px;
}


#about{
  background-color: #31bc9c;
  height: 490px;
}

.btn-outline-success{
  border: 1px solid white;
  color: white;
}

.btn-outline-success:hover{
  background-color: #31bc9c;
}

.form{
height: 500px;
}